$font-color-dark: #343636;
$font-color-light: #717675;

.card {
  box-shadow: 0 3px 6px rgba(0,0,0,.25);
  border-radius: 0.5rem;
  padding: 1rem;
  min-height: 35rem;

  .card-image {
    height: 15rem;
    width: 100%;
    background: black;
  }

  .card-title {

    h3 {
      font-size: 1.2rem;
      color: $font-color-dark;
    }
  }

  .card-sponsor {

    p {
      font-size: 0.9rem;
      color: $font-color-light;
    }
  }

  .card-description {

    p {
      font-size: 0.8rem;
      color: $font-color-light;
    }
  }

  .card-info {
    td {
      font-size: 0.8rem;
      color: $font-color-light;
    }
  }
}
