<div id="banner">
  <div id="change">
    <h1 class="text-center banner-text">
      We can change the world<br>if we all...
    </h1>
    <h3 class="text-center">
      <%= link_to "Create an Action", new_project_path, class: "button radius" %>
    </h3>
  </div>
</div>
